Lab | Inferential statistics - T-test & P-value

Instructions
We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [1]:
import numpy as np
import pandas as pd
import statistics
import math
from scipy.stats import t

In [9]:
import codecs
f = codecs.open("files_for_lab/machine.txt", "r", "utf-16")
data=pd.read_csv(f, sep = "\t")
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [32]:
mean_data=statistics.mean(data['New machine'])
std_data=statistics.stdev(data['New machine'])
print("Mean of the sample is % s " %(mean_data)) 
print("Standard Deviation of the sample is % s "%(std_data))

Mean of the sample is 42.14
Standard Deviation of the sample is 0.6834552736727638

In [33]:
mean_data=statistics.mean(data['    Old machine'])
std_data=statistics.stdev(data['    Old machine'])
print("Mean of the sample is % s " %(mean_data)) 
print("Standard Deviation of the sample is % s "%(std_data))

Mean of the sample is 43.230000000000004
Standard Deviation of the sample is 0.7498888806572158

In [35]:
sample_mean1 = 42.14
sample_std1 = 0.6834552736727638
n1 = 10
sample_mean2 = 43.230000000000004
sample_std2 = 0.7498888806572158
n2 = 10

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.3972307061176026

In [36]:
from scipy.stats import t

print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2)) #alpha is 0.05

P value is:  0.9983944287496127
Critical Value of z is:  -2.10092204024096